.footer {
    background: #101010;
    padding-bottom: 30px;
}

.footer__title {
    color: #FFF;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 1px;
    padding-top: 20px;
}

.footer__title.partners {
    text-transform: none;
    font-weight: 400;
}

.footer__item {
    color: #FFF;
    display: block;
    font-size: 12px;
    font-weight: 300;
    margin: 5px 0;
}