h1, h2, h3, h4 {
    font-family: "Montserrat";
}

/***** Titles *****/

.u-title.type-0 {
 font-size: 48px;
}

.u-title.type-1 {
    font-size: 30px;
}

.u-title.type-2 {
    font-size: 24px;
}

.u-title.type-3 {
    font-size: 16px;
}

.u-title.type-4 {
    font-size: 14px;
}

.u-uppercase {
    text-transform: uppercase;
}